*{
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 150px;
    background-color: #694F90;
}

.checked{
    text-decoration: line-through;
}